/* Adding the style */
main {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #F6F7F9;
    list-style: none;
    margin: 15px;
}

.header {
    background-color: #0077F7;
}

ul {
    list-style: none;
    padding: 15px 10px;
}

li {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 15px;
}